@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

body {
	background-image: url("../img/um-colors-background.jpg");
	overflow-x: hidden;
}

#banner {
	width: 100%;
	height: 10%;
	border: 2px black solid;
	background-color: white;
	opacity: .7;
	margin-bottom: 20px;
}

.left {
	display: inline-block;
	float: left;
	width: 40%;
	height: inherit;
}

.left img {
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

.right {
	text-align: center;
	text-shadow: 1px 1px black;
	display: inline-block;
	float: right;
	width: 40%;
	height: 100%;
}

.right h1 {
	text-decoration: underline;
	color: darkorange;
}


.right button {
	display: block;
	margin: 0 auto;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
	border: 2px solid darkgreen;
	font-size: 20px;
	font-weight: bold;
	background-color: lightgreen;
	color: #FD6301;
	-moz-box-shadow: 2px 2px #777777;
	-webkit-box-shadow: 2px 2px #777777;
	box-shadow: 2px 2px #777777;}
}

.right a:hover {
	text-decoration: none;
	background-color: #FD6301;
	color: darkgreen;
}

.right button:hover {
	text-decoration: none;
	background-color: #FD6301;
	color: darkgreen;
}

.centered {
	text-align: center;
	display: inline-block;
	width: 20%;
	height: 100%;
	margin: 0 auto;
}

.centered img {
	height: inherit;
}

.polaroid {
    width: 20%;
    background-color: white;
		padding:10px 10px 10px 10px;
		text-align:center;
		color:#333;
		font-size:28px;
		font-family:'Nothing You Could Do', cursive;
		font-weight:bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		display: block;
		margin: 0 auto;
		opacity: .8;
}

.polaroid img, .center-elements img {
	width: 100%;
}

.polaroid img {
	margin-bottom: 10px;
}

#center-elements {
	border: 10px double darkgreen;
	max-width: 50%;
	left: 0;
	right: 0;
	font-size: large;
	font-family: 'Architects Daughter', cursive;
	text-align: center;
	background-image: url("../img/old-paper.jpg");
	/*opacity: .7;*/
}

h4 {
	line-height: 90%;
}

p {
	line-height: 90%;
}

.left-tilt {
	-ms-transform: rotate(-7deg); /* IE 9 */
	-webkit-transform: rotate(-7deg); /* Chrome, Safari, Opera */
	transform: rotate(-7deg);
}

.right-tilt {
	-ms-transform: rotate(7deg); /* IE 9 */
	-webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
	transform: rotate(7deg);
}

.date {
	padding: 5px;
	font-size: 60px;
	color: #FD6301;
}

.event {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	font-size: large;
	text-align: center;
	color: darkgreen;
	-webkit-text-stroke-color: black;
	border-top: 2px solid darkgreen;
	border-bottom: 2px solid darkgreen;
}

.event h4{
	font-size: xx-large;
}

.event p {
}

.student-org {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
	padding: 10px;
	margin: 10px;
}

.student-org img {
	display: inline-block;
}

.student-org h3 {
	display: inline-block;
}

@media screen and (max-width:415px) {
	.polaroid {
		display: none;
	}
