
body {
	background-color: #f47321;
}

#timeline {
	font-size: 60px;
	color: #005030;
}

#UMorange {
	font-size: 60px;
	color: #f47321;
}

#UMgreen {
	font-size: 60px;
	color: #005030;
}

#deansadd {
	font-size:large;
	font-weight: bold;
}

#aroundBoxes {
	border: 10px ridge #005030;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	font-size: large;
	text-align: center ; 
}

#Boxes {
	border: 10px ridge #f47321;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	font-size: large;
	text-align: center; 
	background-color: white;
}

#bottompage {
	margin: 4 px;
	color: #005030;
	background: none;
}

a {
	color: #005030;
}

#Boxes h4{
	font-size: xx-large;
}